<div class='container'>
  <div class='row'>
    <div class="mx-auto"> 
      <h1 class='mb-5'>My bookshelves <h1>
      <h2 class='ml-5 mb-5'><%=@bookshelf.name %></h2>  
    </div>
    <div>
      <%= link_to "Edit bookshelf", edit_bookshelf_path(@bookshelf), class: 'btn btn-outline-primary' %> 
    </div>   
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <% @bookshelf.books.each do |book| %>
      <div class="col mb-4">
        <div class="card" style="width: 18rem;">
          <%= image_tag book.image.thumb.url, class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= book.title%></h5> 
            <p class="card-text"><%= book.description%>.</p> 
            <% (book.authors.pluck :name).each do |name| %> 
              <p class="card-text"><%= name %>.</p> 
            <% end %>
            <%= link_to "Edit", edit_library_book_path(book), class:"btn btn-primary"  %>
          </div>
        </div>
      </div> 
    <% end %>
  </div>  
</div>