<div class='container'>
  <div class='row'>
    <div class="mx-auto"> 
      <h2>Edit Publisher</h2>

      <%= form_for [:library, @publisher] do |f| %>
        <% if @publisher.errors.any? %>
          <div id="error_explanation">
            <ul class="list-unstyled alert alert-warning">
              <% @publisher.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class='form-group'>
          <%= f.label :name %>
          <%= f.text_field :name, class:'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :country %>
          <%= f.text_field :country, class:'form-control' %>
        </div>
        <div class='actions'>
          <%= f.submit 'Edit publisher', class:"btn btn-primary"%>
          <%= link_to 'Cancel', library_publishers_path, class:"btn btn-primary ml-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>