<div class='container'>
  <div class='row'>
    <div class="mx-auto"> 
      <h1 class='mb-5'>Reviews</h1>
    </div>
  </div>
    <div class="float-right">
      <% if user_have_review? %> 
        <%= link_to "Edit Review", new_library_book_review_path(book), class: 'btn btn-outline-primary' %> 
      <% else %>
        <%= link_to "Add Review", new_library_book_review_path(book), class: 'btn btn-outline-primary' %> 
      <% end %>
    </div>
  <div>
    <h4 class='ml-3 mb-5'><%= book.title %></h4>   
  </div> 
  
  <div class="card float-left" style="width: 12rem;">
    <%= image_tag book.image.thumb.url, class:"card-img-top" %>
  </div>
   <div class="float-right card-body  mb-2" style="width:55rem;">
      <p><%=book.title%></p>
      <p><%=book.genre%></p>
      <p><%=book.description%></p>
      <%= link_to "Edit", edit_library_book_path(book), class:"btn btn-primary" %>
  </div>


 
  <% book.reviews.each do |review| %> 
    <div class="card-body mt-3" style="width: 35rem;">
      <p>User: <%=Account.find(review.account_id).email%></p>
      <p>Review: <%=review.review_comment%></p>
      <p>Rate: <%=review.rate%></p>
      <% if review.account_id == current_account.id %>
        <%= link_to "Edit", edit_library_book_review_path(book, review), class:"btn btn-primary" %>
      <% end %>
    </div>
  <% end %> 
</div>

