%h2 Profile
%hr 

=form_tag '/sign_up_validation', method: :post do
  %ul 
    - @account.errors.full_messages.each do |error|
      %li= error 

  .field
    %label{ for: 'account_username', class: 'label' } Nombre de usuario 
    .control
      = text_field_tag 'account[username]', @account.username, class: 'input'

  .field
    %label{ for: 'account_email', class: 'label' } Nombre de usuario 
    .control
      = text_field_tag 'account[email]', @account.email, class: 'input'

  .field
    %label{ for: 'account_name', class: 'label' } Nombre de usuario 
    .control
      = text_field_tag 'account[name]', @account.name, class: 'input'

  .actions.has-text-right
    = submit_tag 'Complete profile', class: 'btn btn-is-primary'
