<!DOCTYPE html>
<html>
  <head>
    <title>I-Read</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header'%>
    <%= yield %>
    <%= render partial: 'layouts/footer'%>
  </body>
  <script type="application/javascript">
          document.querySelector('.custom-file-input').addEventListener('change',function(e){
          var fileName = document.getElementById("inputGroupFile02").files[0].name;
          var nextSibling = document.getElementById("custom-file-label") 
          nextSibling.innerText = fileName
          })
  </script>
</html>
